[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 10.0

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 12.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "thomaspot/account_sepa_direct_debit_additional_app"]
	path = thomaspot/account_sepa_direct_debit_additional_app
	url = git@github.com:thomaspot/account_sepa_direct_debit_additional_app.git
	branch = 11.0

[submodule "thomaspot/account_sepa_direct_debit_additional_app2"]
	path = thomaspot/account_sepa_direct_debit_additional_app2
	url = git@github.com:thomaspot/account_sepa_direct_debit_additional_app.git
	branch = 11.0
