[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 10.0

[submodule "muk-it/muk_dms"]
	path = muk-it/muk_dms
	url = git@github.com:muk-it/muk_dms.git
	branch = 11.0

[submodule "muk-it/muk_base"]
	path = muk-it/muk_base
	url = git@github.com:muk-it/muk_base.git
	branch = 11.0
